@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');
html{
  background-color: white;
  text-align: justify;
  font-family: 'San Francisco', Helvetica, Arial, san-serif;
}
body{
  margin: 0;
}
body h1{
  font-weight: bold;
}
.nav{
  display: flex;
  flex-direction: row;
  justify-content: left;
  background-color: brown;
  padding: 10px;
}
.nav a{
  text-decoration: none;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin-left:25px;
  margin-right: 25px;
  padding: 5px;
}
.nav a:hover{
  background-color: rgb(211, 119, 119) ;
  border-radius: 10px;
}
.heading h1{
  margin: auto;
  padding-top: 25px;
  text-align: center;
  font-size: 40px;
  font-family: 'Montserrat', sans-serif;
  color: brown;
}
.heading h3{
  text-align: center;
  color: rgb(211, 119, 119);
}
.outIntro,.outAnnotations{
  background-image: url(background.jpg);
  margin: 10px auto;
  padding: 25px auto;
}
.intro{
  margin: auto;
  padding: 15px;
  width:90%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.outAnnotations{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.intro p{
  width: 60%;
  color: white;
  background:rgba(255, 255, 255, 0.3) ;
  padding: 15px;
  border-radius: 20px;
  font-size: 15px;
}
.outCitation h1, .outAnnotations h1{
  color: brown;
  font-weight: bold;
  text-align: center;
}
hr{
  border: 0.5px solid gray;
}
.list{
  width: 60%;
  margin: auto;
  justify-content: center;
}
li{
  font-size: 20px;
  line-height: 30px;
}
.outCitation{
  margin: 10px auto;
  padding: 25px;
  background-image: url(background.jpg);
  margin-bottom: 0px;
}
.citation{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: auto;
}
.outAnnotations p{
  width: 100%;
  margin: auto;
  color: white;
  text-align: justify;
}
.outCitation h1{
  font-style: 600;
}
.outImages{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin: 10px auto;
  padding: 25px;
  background-image: url(background.jpg);
  color: brown;
}
.images{
  margin: auto;
  width: 70%;
}
#img img{
  width: 300px;
  height: 200px;
  margin: 10px 10px;
  transition: transform 0.5s;
}
#img img:hover{
  transform: scale(1.5);
}
table,th,td{
  padding-left: 15px;
  border-collapse: collapse;
}
th{
  padding: 10px 15px;
}
td{
  width: 200px;
}
tr{
  background-color: rgb(255, 223, 223);
}
th{
  background-color: rgb(211, 119, 119);
  color: white;
}
.outAnnotations table{
  margin: 25px;
}
.outAnnotations td {
  padding: 3px;
  text-align: center;
  width: fit-content;
}
.outAnnotations th{
  padding: 10px;
}
.slider{
  width: 80%;
}
.citation img{
  width: 150px;
  height: 160px;
  border-radius: 10px;
  margin-top: 0px;
}
.inner_citation{
  display: flex;
  flex-direction: column;
  align-items:center;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 30px;
  margin: 10px 10px;
  padding: 20px 0px;
  width:100%;
  height: 450px;
}
.inner_citation p{
font-size: 15px;
color: white;
padding: 5px;
width: 80%;
margin-top: 20px;
}
.Annotations a{
  text-decoration: none;
  color: aqua;
  font-weight: bold;
}
.Annotations a:hover{
  color: rgb(0, 138, 138);
}
.Annotations p{
  width: 50%;
}
